@model VoipApplicationProject.Models.TrialBalanceRequestModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Sr. No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i=0; i < Model.data.Count(); i++)
        {
            <tr>
                <td>
                    @Html.DisplayName((1 + i).ToString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.data[i].Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.data[i].TransactionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.data[i].CustomerId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
