@model IEnumerable<VoipApplicationProject.RootObjects.RootObject.RootCustomer>

@{
    ViewData["Title"] = "Index";
}

<div class="col-md-8 mx-auto">
    <table class="table text-center border">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Email</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.userName</td>
                    <td>@item.email</td>
                    <td>@item.CustomerTypeId</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

